.banner {
  background: url("../../assets/Pattern.svg"), #fff;
  /* height: 250px; */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.map {
  background: url("../../assets/Bangladesh.svg"), #fff;
  background-repeat: no-repeat;
  background-position: center;
}
